<div>
  <div class="top--banner flex-text--vh--c" id="top-image">
    <h2>"The secret to film is that it's an illusion."--George Lucas</h2>
  </div>

  <div class="container">
    <div class="button--create mt-4 mb-4 ">
      <%= link_to "Create a new list", new_list_path, class:"btn btn-success"%>
    </div>
  </div>

  <div class="container py-3 container--grid">
      <% @lists.each do |list| %>
    <div class="card flex-text--vh--c">
      <%= link_to list.name, list_path(list)%>
    </div>
      <% end %>
  </div>
