// Specific CSS for your home-page

.list-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

.list-container{
  padding: 20px;
  background-color: rgb(242, 215, 238);
  text-align: center;
}
